<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/rizkyportofolio.jpg" alt="rizkyportofolio" class="img-thumbnail rounded-circle mt-3" width="150px" />
      <h1 class="display-4">Rizky Haksono</h1>
      <p class="lead">Informatics Engineering</p>
    </div>
  </div>
</div>
